* {
	padding: 0;
	margin: 0;
}

body {
	display: block;
}

nav {
	height: 80px;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #FE7E00;
}

/* logo at top left */

#companylogo {
	color: white;
	margin: 0;
	padding: 20px 50px;
	font-size: 20px;
	font-family: "Quicksand", sans-serif; 
}

#companylogo img {
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 0;
	float: left;
} 

#companylogo h1 {
	float: left;
	font-weight: 200;
	letter-spacing: -2px;
}

#companylogo span {
	font-weight: 600;
}

/* navigation links */

#navlinks {
	margin: 0;
	padding-top: 30px;
	display: inline-block;
	float: right;
	width: 50%;
}

#navlinks li {
	display: inline-block;
	padding: 0 10px;
}

#navlinks a {
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
	color: white;
}

#companylogo, #navlinks {
	display: inline-block;
}

/* search bar */

header {
	margin: 0;
	padding: 0;
	background-color: #FAFAFA;
	height: 500px;
	width: 100%;
}

#search {
	float: right;
	margin: 0 30px;
	padding: 0;
	background-color: #F0F0F0;
	width: 200px;
}

#searchbar {
	border: none;
	height: 30px;
	padding: 5px 15px;
	width: 70%;
	color: #D6DAD9;
	background-color: transparent;
	font-family: 'Quicksand', sans-serif;

}

#searchbutton img {
	height: 15px;
	width: 15px;
	cursor: pointer;
	margin-top: 5px;
	margin-right: 5px;
}

#searchbar, #searchbutton {
	display: inline-block;
}

/* header body */

header > img {
	width: 350px;
	margin-top: 150px;
	margin-left: 50px;
	float: left;
}

#intro {
	font-family: 'Quicksand', sans-serif;
	color: #f49338;
	font-size: 36px;
	display: block;
	letter-spacing: -2px;
	padding: 150px 50px;
}

#intro span {
	font-weight: 700;
}

#intro span.orange {
	color: #FE7E00;
}

#intro span.blue {
	color: #7ACCC8;
}

/* buttons */


#quote, #case {
	height: 40px;
	width: 200px;
	margin-left: 20px;
	margin-top: 30px;
	padding: 10px 20px;
	font-family: 'Quicksand', sans-serif;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#quote {
	background-color: #fe7300;
}

#case {
	background-color: #7accc8;
}

/* footer */

footer {
	background-color: #7accc8;
	margin: 0;
	padding: 0;
	text-align: center;
	height: 80px;
	width: 100%;
}

footer h1 {
	font-size: 12px;
	font-family: 'Quicksand', sans-serif;
	color: #7accc8;
}