* {
	padding: 0;
	margin: 0;
}

body {
	display: block;
}

nav {
	height: 80px;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #FE7E00;
	border-bottom: 3px solid #E16E18;
}

/* logo at top left */

#companylogo {
	color: white;
	margin: 0;
	padding: 20px 50px;
	font-size: 20px;
	font-family: "Quicksand", sans-serif; 
}

#companylogo img {
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 0;
	float: left;
} 

#companylogo h1 {
	float: left;
	font-weight: 200;
	letter-spacing: -2px;
}

#companylogo span {
	font-weight: 600;
}

/* navigation links */

#navlinks {
	margin: 0;
	padding-top: 30px;
	display: inline-block;
	float: right;
}

#navlinks li {
	display: inline-block;
	padding: 0 10px;
}

#navlinks a {
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
	color: white;
}

#companylogo, #navlinks {
	display: inline-block;
}

/* search bar */

header {
	margin: 0;
	padding: 0;
	background-color: #FAFAFA;
	width: 100%;
}

#search {
	float: right;
	margin: 0 30px;
	padding: 0;
	background-color: #F0F0F0;
	width: 200px;
}

#searchbar {
	border: none;
	height: 30px;
	padding: 5px 15px;
	width: 70%;
	color: #D6DAD9;
	background-color: transparent;
	font-family: 'Quicksand', sans-serif;

}

#searchbutton img {
	height: 15px;
	width: 15px;
	cursor: pointer;
	margin-top: 5px;
	margin-right: 5px;
}

#searchbar, #searchbutton {
	display: inline-block;
}

/* header body */

header > img {
	width: 350px;
	margin-top: 150px;
	margin-left: 50px;
	float: left;
}

#intro {
	font-family: 'Quicksand', sans-serif;
	color: #f49338;
	font-size: 36px;
	display: block;
	letter-spacing: -2px;
	padding: 150px 50px;
}

#intro span {
	font-weight: 700;
}

#intro span.orange {
	color: #FE7E00;
}

#intro span.blue {
	color: #7ACCC8;
}

/* buttons */


#quote, #case {
	height: 40px;
	width: 200px;
	margin-left: 20px;
	margin-top: 30px;
	padding: 10px 20px;
	font-family: 'Quicksand', sans-serif;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#quote {
	background-color: #fe7300;
}

#case {
	background-color: #7accc8;
}

/* footer */

footer {
	background-color: #7accc8;
	margin: 0;
	padding: 0;
	text-align: center;
	height: 80px;
	width: 100%;
}

footer h1 {
	font-size: 12px;
	font-family: 'Quicksand', sans-serif;
	color: #7accc8;
}

@media (max-width: 900px) {
	#intro p {
		font-size: 28px;
	}

	#buttons button {
		margin-left: 10px;
		padding: 10px 0;
		width: 150px;
	}
} 

@media (max-width: 850px) {
	nav li {
		padding: 5px; 
	}

	#navlinks a {
		font-size: 12px;
	}
}

@media (max-width: 780px) {
	#companylogo {
		font-size: 16px;
		padding: 20px;
	}

	#companylogo img {
		width: 30px;
		height: 30px;
	}

	#intro {
		padding: 80px 25px;
	}

	header > img {
		width: 300px;
		margin-top: 80px;
		margin-left: 25px;
	}

	#buttons {
		display: block;
		clear: both;
		margin: 0 auto;
		text-align: center;
	}

	#buttons button {
		height: 40px;
		width: 200px;
		margin-left: 20px;
		margin-top: 30px;
		padding: 10px 20px;
	}

}

@media (max-width: 585px) {
	#companylogo {
		padding: 20px 10px;
	}

	#navlinks li:nth-child(3) {
		display: none;
	}

	header > img {
		width: 250px;
	}
}

@media (max-width: 501px) {
	header > img {
		display: none;
	}

	#intro {
		text-align: center;
	}

	#intro p {
		margin: 50px auto;
		width: 80%;
	}
}

@media (max-width: 450px) {
	#navlinks li:nth-child(even) {
		display: none;
	}
}




